
DATABASE_URL=
PORT=5000

# better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=  # Base URL of your app

## nodemailer
APP_EMAIL = 
APP_PASS = 


# frontend
APP_URL = 


## Google OAuth
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
GOOGLE_REDIRECT_URI=


# admin user credentials
ADMIN1_USER_EMAIL= 
ADMIN1_USER_PASSWORD= 